@using MvcPL.ViewModels
@model MvcPL.ViewModels.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<link href="~/Content/TextArea.css" rel="stylesheet">
<div id ="userId"style="display: none">@Model.Id</div>
<div class="col-sm-3">
    <div id="midCol" data-spy="affix" data-offset-top="300">
        <div class="well">
            <div align="center">
                <div class="frame-square">
                    <div class="crop img-rounded">
                        @Html.Partial("_ProfilePhoto", Model.Id)
                    </div>
                </div>
            </div>    
        </div>
        <div class="well">
            <div><a href="@Url.Action("ShowUserFriends","Friend",new {id=Model.Id})">Friends</a></div>
            <hr/>
            @{
                var r = new Random();
                var friends = Model.Friends.ToArray();
                var shownFriends = new List<int>();
                int max = (friends.Length <= 6) ? friends.Length : 6;
                int i = 0;
                while (i < max)
                {
                    var temp = friends[r.Next(friends.Length)];
                    if (!shownFriends.Contains(temp))
                    {
                        shownFriends.Add(temp);
                        i++;
                    }
                }
                foreach (var friend in shownFriends)
                {
                    <a href="@Url.Action("UserProfile", "Profile", new {id = friend})">
                        <div class="frame-round">
                            <div class="crop">
                                @Html.Partial("_ProfilePhoto", friend);
                            </div>
                        </div>
                    </a>
                }
            }

        </div>
        <div class="well">
            <h3>Pre alpha version of <p/> f - society</h3>
            <hr/>
            A small team of developers realized not all
            the features in the earlier version of our 
            network (Such as post system, reposts and like system).
            Be patient and report errors to support.
        </div>
        <div class="well">
            The date of the next update:<p/> 1 february 2017
        </div>
    </div>
</div>
<div class="col-sm-7">
    <div class="row">
        <div class="col col-sm-12">
            <h2>@(Model.FirstName + " " + Model.LastName)</h2><p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div align="left">
                    <div>Birthday:</div>
                    <div>Gender:</div>
                    <div>City:</div>
                    <div>Relation status:</div>
                </div>
            </div>
            <div class="col-md-6">
                <div align="left">
                    <div>@if(Model.BirthDay != null)
                         {
                             @(Model.BirthDay.Value.Day + "/" + Model.BirthDay.Value.Month + "/" + Model.BirthDay.Value.Year)
                         }
                    </div>
                    <div>@Model.Gender</div>
                    <div>@Model.City</div>
                    <div>@Model.RelationStatus</div>
                </div>
            </div>
            @if (Model.Id == ViewBag.UserId)
            {
                <div class="col-md-3">
                    <div class="fieldset">
                        <button onclick="location.href = '@Url.Action("Edit", "Profile")'">Edit</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr>
    <div class="row well">
        <div><a href="@Url.Action("Index","Photo",new {id=Model.Id})"><h4>Portfolio</h4></a></div>
        <hr/>
        @Html.Partial("_GetRandomPhotos",Model)
    </div>

    <hr/>
    @if (ViewBag.UserId == Model.Id)
    {
        <div class="row">
            <div class="col-md-6">
                <textarea placeholder="Post something right now!" rows="20" name="comment[text]" id="PostText" cols="40" class="table-bordered" style="border-color: #00bc8c"></textarea>
            </div>
            <p/>
            <div class="col-md-2 col-md-offset-2"style="margin-left: 0px">
                <button id="post" class="red" style="border-color: darkmagenta">Post</button>
            </div>
        </div>

        <hr>
        <div id="insert"class="row">
            <div class="col-sm-4"><img class="img-responsive" src="~/Content/Images/about.png">
            </div>
            <div class="col-sm-8">
                <h2>Hello friend!</h2>
                <p>
                    Hello Friend! This wall. And yes it is yours.
                    And you can post on it your news or photos, or both.
                    Enjoy the use of our social network.
                </p>
            </div>
        </div>
        <hr>
        <div id="postContainer" class="row">
        </div>
        <hr>
    }
</div>
<script type="text/javascript">

    $('#post').on('click', function (e) {
        e.preventDefault();
        var date = new Date();
        $('#postContainer').append(
            '<hr/>' + '<div class = "well">'
            + $('#PostText').val() + '<br/>' + 'time '
            + date.getHours() + ':' + date.getMinutes()
            + '</div>');
        $('#PostText').val('');
    });
</script>

