<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/AccountStyle.css" type="text/css" rel="stylesheet" />
    <style>
        footer {
            position: fixed;
            height: 100px;
            bottom: 0;
            width: 100%;
        }
        .wrapper {
            overflow-x: hidden;
        }
        .verticalAlign {
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }
    </style>

</head>
<body>
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        @Html.ActionLink("F-SOCIETY", "Index", "Profile", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="nav navbar-nav pull-right">
                        @Html.ActionLink("ABOUT FS", "About", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <footer class="footer">
                <hr />
                <div class="container" align="right">
                    <p class="text-muted">&copy; Friends Society @DateTime.Now.Year. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>
</div>  
<script src="~/Scripts/LoginAndRegistration.js" type="text/javascript"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
@RenderSection("scripts", required: false)
</body>
</html>
