<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/AvatarsAndMiniatures.css" rel="stylesheet"/>
    <link href="~/Content/profile.css" rel="stylesheet"/>
    <style>

    .green {
        background: #00bc8c;
    }

    .red {
        background: darkmagenta;
    }

         footer {
             position: fixed;
             height: 100px;
             bottom: 0;
             width: 100%;
         }

        .wrapper {
            overflow-x: hidden;
        }

        .verticalAlign {
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }

        .fieldset button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #00bc8c;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
        }

        .fieldset button:hover, .fieldset button:active, .fieldset button:focus {
            background: #3cb371;
        }
    </style>

</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("F-SOCIETY", "Index", "Profile", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a href="@Url.Action("Index","Search",new {id = ViewBag.UserId})">Search</a></li>
                <li><a href="@Url.Action("LogOut","Account")">Logout</a></li>
            </ul>
        </div>
    </div>


    <!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul id="sidebar" class="nav nav-stacked affix">
                <li><a href="@Url.Action("Index", "Profile")">My page</a></li>
                <li><a href="@Url.Action("Index", "Message", new {id = ViewBag.UserId})">Messages<span id="messageCount" style="color: darkmagenta; font-size: large"></span></a></li>
                <li><a href="@Url.Action("Index", "Friend")">Friends<span id="inviteCount" style="color: darkmagenta; font-size: large"></span></a></li>
                <li><a href="@Url.Action("Index", "Photo",new {id = ViewBag.UserId})">Photo</a></li>
                <li><a href="@Url.Action("About", "Account")">About FS</a></li>
            </ul>
        </div>            
        @RenderBody()
    </div>
</div>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <script>
    $(document).ready(function () {
        Refresh1();
        Refresh2();
    });

    function Refresh1() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("NumOfUnread","Message",new {id=ViewBag.UserId})',
            contentType: false,
            processData: false,
            data: null,
            success: function (data) {
                if (data !== "  +0") {
                    $("#messageCount").html(data);
                } else {
                    $("#messageCount").html('');
                }
            }
        });
        setTimeout("Refresh1();", 5000);
    }
        function Refresh2() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("NumOfInvites","Friend",new {id=ViewBag.UserId})',
                contentType: false,
                processData: false,
                data: null,
                success: function (data) {
                    if (data !== "  +0") {
                        $("#inviteCount").html(data);
                    } else {
                        $("#inviteCount").html('');
                    }
                }
            });
            setTimeout("Refresh2();", 5000);
        }
    </script>
</body>
</html>
